{% extends "base.html" %}

{% block title %} {{titulo}}{% endblock %}

{% block body %}

<div class="jumbotron" style="margin-top: 100px">
    <div class="container">
        <h2 class="text-center">{{titulo}}</h2>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ferramentas</th>
            </tr>
            </thead>
            <tbody>

            {% for usuario in lista %}
            <tr  id ="usuario-row-{{ usuario.ID }}">
                <td> {{ usuario.ID }}</td>
                <td> {{ usuario.Nome }}</td>
                <td> {{ usuario.Email }}</td>
                <td>
                    <a class="btn btn-danger" aria-hidden="true" onclick="deletarUsuario('{{usuario.ID}}')" >
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js%}

        <script>

        function deletarUsuario(pk){

            $.ajax({
                    url : "http://192.168.0.100:3000/v1/delete/"+pk,
                    method: "delete",
                    success : function(dataRaw){
                       console.log(dataRaw)
                       $("#usuario-row-"+pk).remove();
                    }

            })

        }

        </script>
{% endblock %}